
/* #region Body */

body {
    margin: 0;
}

/* #endregion */

/* #region Hero Images */

header {
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    margin-top: 0;
}

#home {
     background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(Images/HERO-img-#1-Mountain.jpg);
     background-position: center bottom;
     background-attachment: fixed;
}

#activ {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(Images/HERO-img-#2-Railroad.jpg);
    background-position: center bottom;
    background-attachment: fixed;
}

#wethr {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(Images/winter-\HERO-img-#3\.jpg);
    background-position: center bottom;
    background-attachment: fixed;
}

#autmn {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/FALL-\HERO-img-#4\.jpg);
    background-position: center bottom;
    background-attachment: fixed;
}

/* #endregion */

:root {
    --background: #8a8a8a;
    --headers: #7c7c7c;
    --details: #b9b9b9;
}

body {
    background-color: #a3a3a3;
}

nav>ul {
    display: flex;
    list-style-type: none;
    padding: 0%;
    align-items: center;
    justify-content: center;
    background-color: #b3b3b3;

}

nav>ul>li {
    padding: 10px;
}

nav>ul>li:hover {
    background-color: #5c5c5c;
}


nav>ul>li>a {
    text-decoration: none;
    color: white;
}

#active {
    background-color: #575757;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

article {
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.home {

}

.activity {

}

.weather {
    
}

.fall {

}

.image {
    display: block;
    margin: auto;
}

.footer-flex {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 190, 190);
}
footer>p {
    text-align: center;
    background-color:#b1b1b1;
}

img {
    display: inline-block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}