
/* #region Body */

body {
    margin: 0;
    background-color: #a3a3a3;
}

:root {
    --background: #8a8a8a;
    --headers: #7c7c7c;
    --details: #b9b9b9;
}

/* #endregion */

/* #region Hero Images */

header {
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    margin-top: 0;
}

#home {
     background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(Images/home-HERO.jpg);
     background-position: center bottom;
     background-attachment: fixed;
}

#activ {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(Images/railroad-activities-HERO.jpg);
    background-position: center bottom;
    background-attachment: fixed;
}

#wethr {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(Images/weather-HERO.jpg);
    background-position: center bottom;
    background-attachment: fixed;
}

#autmn {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(images/FALL-HERO.jpg);
    background-position: center bottom;
    background-attachment: fixed;
}

/* #endregion */

/* #region Nav */

.nav {
    position: sticky;
    top: 0;
    overflow: hidden;
}

nav>ul {
    display: flex;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    background-color: #b3b3b3;
}

nav>ul>li {
    padding: 10px;
}

nav>ul>li:hover {
    background-color: #5c5c5c;
}


nav>ul>li>a {
    text-decoration: none;
    color: white;
    font-family: "Comic Sans MS";
}

#active {
    background-color: #575757;
}

/* #endregion */

/* #region Divs */

.home {
    display: flex;
    padding: 10px;
}

.activity {
    display: flex;
    padding: 10px;
}

.weather {
    display: flex;
    padding: 10px;
}

.fall {
    display: flex;
    padding: 10px;
}

.footer-flex {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 190, 190);
}
footer>p {
    text-align: center;
    background-color:#b1b1b1;
}

/* #endregion */

/* #region Articles */

.Welcome {
    margin-left: 20%;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.autumn {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}

article {
    font-size: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    margin-left: 20%;
    margin: auto;
    width: 50%;
    padding: 10px;
}

.fallimg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    margin-top: 50px;
}

.activeimg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    margin-top: 50px;
}

.weatherimg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 300px;
    margin-top: 50px;
}

.homeimg {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
    margin-top: 50px;
}

.hometxt {
    text-align: center;
}

.activetxt {
    text-align: center;
}

.weathrtxt {
    text-align: center;
}

.falltxt {
    text-align: center;
}

/* #endregion */